@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

*, h1, h2, h3, h4, h5, h6, p {
  font-family: 'IBM Plex Sans', sans-serif;
}

.ant-col {
  padding: 6px 0;
}

.padded-col {
  padding: 8px;
}

.logo {
  position: 'relative';
  left: -30px;
  top: 20px;
  margin-top: -5px;
}

.ant-page-header {
  border: 1px solid rgb(235, 237, 240) !important;
}

.wrap {
  display: flex;

  .content {
    flex: 1;
  }

  .extraContent {
    min-width: 220px;
    text-align: right;
  }
}
